<% content_for(:title, @post.title) %>

<h1><%= @post.title %></h1>

<p class='lead'>Post Created: <%= @post.created_at.strftime("%B %d, %Y") %></p>

<h3>Entry</h3>
<p class="lead"><%= @post.entry %></p>

<ul class='list-unstyled'>
  <% @comments.each do |comment| %>
    <li><%= comment.author %> - <%= comment.entry %> |
      <%= link_to "Edit", [:edit, @post, comment] %> |
      <%= link_to "Delete", [@post, comment],
        :data => {:confirm => "Do you really want to delete this comment?",
          :method => "delete"}, class: "btn btn-xs btn-danger" %></li>
  <% end %>
</ul>

<p><%= link_to "Leave a comment", new_post_comment_path(@post), class: "btn btn-xs btn-default" %></p>

<p><%= link_to "Edit this blog post", edit_post_path(@post), class: "btn btn-xs btn-default" %></p>
<p><%= link_to "Return to blog list", posts_path, class: "btn btn-xs btn-default" %></p>

<p>
  <%= link_to "Delete Post", post_path(@post),
    :data => {:confirm => "Do you really want to delete this post?",
      :method => "delete"}, class: "btn btn-xs btn-danger" %>
</p>
