<% content_for(:title, @post.title) %>

<h1><%= @post.title %></h1>

<p class='lead'>Post Created: <%= @post.created_at.strftime("%B %d, %Y") %></p>

<h3>Entry</h3>
<p class="lead"><%= @post.entry %></p>

<ul class='list-unstyled'>
  <% @comments.each do |comment| %>
    <li><%= comment.author %> - <%= comment.entry %></li>
  <% end %>
</ul>

<p><%= link_to "Leave a comment", new_post_comment_path(@post) %></p>

<p><%= link_to "Edit this blog post", edit_post_path(@post) %></p>
<p><%= link_to "Return to blog list", posts_path %></p>

<p>
  <%= link_to "Delete Post", post_path(@post),
    :data => {:confirm => "Do you really want to delete this post?",
      :method => "delete"} %>
</p>
